.bg {
	background-image: url("wallpaper.jpg");
	background-size: 100%;
}
.h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
	
}
#mainpage {
	text-align: center;
}
.font {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 24px;
}
.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: 5px;
    width: 100%;
    position: absolute;
    top: 0;

     
}
.innavbar {
	display: block;
    width: 60px;
    text-decoration: none;
    display: inline;
    color: white;
    border-right: 1px solid #F5F5F5;
  }
.innlast {
    border-right: none;
    display: block;
    width: 60px;
    text-decoration: none;
    display: inline;
    color: white;
    border-right: none;
}
.innavbar a{
	color:   #F5F5F5;
	text-decoration: none;
	
}
.innlast a {
  color:   #F5F5F5;
  text-decoration: none;
}

.innavbar a:hover {
  	
    text-decoration:underline;
}

.innlast a:hover {
    
    text-decoration:underline;
}
.inst{
	text-decoration:none ;
	color: black;

}

.instructors{ max-width: 900px;
  padding: 30px 38px 30px;
  margin: 0 auto;
  background-color:gray;
  opacity:0.6;
  border-color: transparent;
}