.bg {
	background-image: url("wallpaper.jpg");
	background-size: 100%;

	
}
#mainpage {
	text-align: center;
}
.font {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 24px;
}
.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    left: 175px;
    font-size: 20px;
   
}
.innavbar {
	display: block;
    width: 60px;
    text-decoration: none;
    display: inline;
    color: white;
}
.innavbar a{
	color: black;
	text-decoration: none;
	
}

.innavbar a:hover {
  	
    text-decoration:underline;
}

.inst{
	text-decoration:none ;
	color: black;

}

.instructors{ max-width: 900px;
  padding: 30px 38px 30px;
  margin: 0 auto;
  background-color:gray;
  opacity:0.6;
  border-color: transparent;
}