.bg {
	background-image: url("wallpaper.jpg");
	background-size: 100%;
}
.h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
	
}
#mainpage {
	text-align: center;
}
.font {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 24px;
}
.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: 5px;
    width: 100%;
    position: absolute;
    top: 0;    
}
.k{
  border-spacing: 25px;
  margin: 5px;
  padding: 7px;
  border-color: white;

}
.form{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
.s{
  border-spacing: 25px;
  margin: 5px;
  padding: 7px;
  border-color: white;
}
.m{
  border-spacing: 10px;
  margin: 5px;
  padding: 3.5px;
  border-color: white;
}
.su{
  position: fixed;
  bottom: 155px;
  right: 480px;
  width: 300px;
}

.f {

  position: fixed;
  bottom: 220px;
  right: 450px;
  width: 300px;

}
.innavbar {
	display: block;
    width: 60px;
    text-decoration: none;
    display: inline;
    color: white;
    border-right: 1px solid #F5F5F5;
  }
.innlast {
    border-right: none;
    display: block;
    width: 60px;
    text-decoration: none;
    display: inline;
    color: white;
    border-right: none;
}
.innavbar a{
	color:   #F5F5F5;
	text-decoration: none;
	
}
.innlast a {
  color:   #F5F5F5;
  text-decoration: none;
}

.innavbar a:hover {
  	
    text-decoration:underline;
}

.innlast a:hover {
    
    text-decoration:underline;
}
.inst{
	text-decoration:none ;
	color: black;

}

.instructors{ max-width: 900px;
  padding: 30px 38px 30px;
  margin: 0 auto;
  background-color:gray;
  opacity:0.6;
  border-color: transparent;
}
.form-signin {
  max-width: 420px;
  padding: 30px 30px 66px;
  margin: 0 auto;
  border: 3px ; 
  position: fixed;
  bottom: 150px;
  right: 350px; 

}
.form-signup {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  border: 3px; 
  position: fixed;
  bottom: 150px;
  right: 350px; 
 
  }

.form-signin-heading {
  color: gray;
  text-align:center;
  margin-bottom: 30px;
}
.form-signup-heading {
  color:gray;
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}