<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>

p {
   text-align: center;
   font-size: 25px;
   font-family: "Times New Roman", Times, serif;

}
h1 {
   text-align: center;
   margin-top: 150px;
   font-size: 35px;
   font-family: "Times New Roman", Times, serif;
}
form {
	margin-left: 537px;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
}

</style>
</head>

<body class="bg">
 <ul class="navbar">
  <li class="innavbar" style="color: white;"><a href="{{url_for('SignIn')}}">Home<span class="sr-only"></span></a></li>
  <li class="innavbar"><a href="{{url_for('instructors')}}">Instructors</a></li>
  <li class="innavbar"><a href="{{url_for('signup')}}">Sign Up</a></li>
  <li class="innavbar"><a href="{{url_for('aboutus')}}">About Us</a></li>
</ul> 
<div class= 'flash'>
	{%for message in get_flashed_messages()%}
		<ul>
			<li><strong>{{message }}</strong></li>
		</ul>
	{% endfor %}
</div>
<h1> Log In Here </h1>
<form action="{{url_for('SignIn')}}" method="Post"> 
	email: <br>
	<input type="text" name="email"><br>
	password:<br>
	<input type="password" name="password">
		<input type="submit" value="Login">
</form>

<p>  <a href={{url_for('signup')}} >Sign Up</a>
</p>
</body>
</html>