<!DOCTYPE html>
<html>
<head>
<style>

p {
   text-align: center;
   font-size: 25px;
   font-family: "Times New Roman", Times, serif;

}
h1 {
   text-align: center;
   margin-top: 150px;
   font-size: 35px;
   font-family: "Times New Roman", Times, serif;
}
form {
	margin-left: 537px;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
}
body{
background-image: url("wallpaper.jpg");
	
}
</style>
</head>
<body>
<h1> Log In Here </h1>
<form action="{{url_for('SignIn')}}" method="Post"> 
	email: <br>
	<input type="text" name="email"><br>
	password:<br>
	<input type="password" name="password">
		<input type="submit" value="Login">
</form>

<p>  <a href={{url_for('signup')}} >Sign Up</a>
</p>
</body>
</html>