<!DOCTYPE html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{{ url_for('static', filename='script.js')}}"></script>


<style>

p {
   text-align: center;
   font-size: 25px;
   font-family: "Times New Roman", Times, serif;

}
h1 {
   text-align: center;
   margin-top: 150px;
   font-size: 35px;
   font-family: "Times New Roman", Times, serif;
}
form {
	margin-left: 537px;
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
}

</style>
</head>

<body class="bg">
<div class="nav">
 <ul class="navbar">
  <li class="innavbar" style="color: white;"><a href="{{url_for('SignIn')}}">Home<span class="sr-only"></span></a></li>
  <li class="innavbar"><a href="{{url_for('instructors')}}">Instructors</a></li>
  <li class="innavbar"><a href="{{url_for('signup')}}">Sign Up</a></li>
  <li class="innavbar"><a href="{{url_for('aboutus')}}">About Us</a></li>
  <li class="innavbar"><a href="{{url_for('logout')}}">Sign Out</a></li>
</ul> 
</div>
<div class= 'flash' id="flash">
	{%for message in get_flashed_messages()%}
		<ul>
			<li><strong>{{message }}</strong></li>
		</ul>
	{% endfor %}


<form action="{{url_for('SignIn')}}" method="post" name="Login_Form" class="form-signin" id="bla">       
     
        
        <input type="text" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>          
       <br>
        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button> 
        <br>
      <center>
        <a href="{{url_for('signup')}}" class="btn btn-info" role="button">Sign Up</a>
        <a href="{{url_for('SignIn')}}" class="btn btn-info" role="button">Cancel</a>    
      </center>  
    </form>     
  </div>

</body>
</html>